<link href="/css/style.css" rel="stylesheet" type="text/css">

<h1>Bonjour <%= login %></h1>

<h2>Choisisez votre jeu </h2>
	<div>
		<h3>Jeux random</h3>
	</div>
	<div>
		<form action="/randomizer" method="get" > 
			<input id="image" type="image" width="200" height="100" alt="Randomizer" src="dice.png">
		</form>
	</div>
	<h3>Cookie Clicker</h3>
	</div>
	<div>
		<form action="/cookieClicker" method="get" > 
			<input id="image" type="image" width="200" height="100" alt="Randomizer" src="cookieClicker.png">
		</form>
	</div>
