<h1>Bonjour <%= login %> </h1>

<h2>Choisisez votre jeu </h2>
	<div>
		<h3>Jeux de devinette</h3>
	</div>
	<div>
		<form action="/devinette" method="get" > 
			<input id="image" type="image" width="200" height="100" alt="Devinette" src="iconeDevinette.png">

		</form>
	</div>
	<div>
		<h3>Jeux random</h3>
	</div>
	<div>
		<form action="/randomizer" method="get" > 
			<input id="image" type="image" width="200" height="100" alt="Randomizer" src="iconeRandomizer.png">
		</form>
	</div>
