<link href="/css/style.css" rel="stylesheet" type="text/css">

<html>

	<head>
		<meta charset="utf-8" />
		<title>Comment êtes vous arrivé là ???</title>
	</head>

	<body>
		<h1>Pseudo à Bannir</h1>
		<div id="center">
			<form action="/admin" method="post"> 
				<input type="value" name="login">
				<input type="submit" name="send" value="Bannir">
			</form>
		</div>
	</body>
</html>