<link href="/css/style.css" rel="stylesheet" type="text/css">

<html>

	<head>
		<meta charset="utf-8" />
		<title>Connexion</title>
	</head>

	<body>
		<h1>Connexion</h1>
		<div id="center">
			<form action="/login" method="post"> 
				<input type="value" name="login">
				<input type="submit" name="send" value="Connexion">
			</form>
		</div>
		<div id="center">
			<form action="/register" method="get"> 
				<input type="submit" name="send" value="S'enregistrer">
			</form>
		</div>
	</body>
	<form action="/admin" method="get"> 
		<input type="submit" name="admin" value="administration ...">
	</form>
</html>