<link href="/css/style.css" rel="stylesheet" type="text/css">

<html>

	<head>
		<meta charset="utf-8" />
		<title>Connexion</title>
	</head>

	<body>
		<h1>S'enregistrer</h1>
		<div id="center">
			<form action="/register" method="post"> 
				<input type="value" name="login">
				<input type="submit" name="send" value="s'enregistrer">
			</form>
		</div>
	</body>
</html>